@import "variables";
@import "mixins";

body {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.w-50 {
  width: 50%;
}

.fc-toolbar.fc-header-toolbar {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

a.fc-time-grid-event.fc-event {
  cursor: pointer;
}
