spring:
  profiles:
    - default
    - dev
  datasource:
    url: jdbc:mysql://localhost:3306/meetingorganizer?useUnicode=yes&characterEncoding=UTF-8
    username: meetingorganizer
    password: KkN7{/uvw}?CKi).hDY8YSM0}YMC3QT
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: create-drop
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 160652702041-mvfvg4h4rloclmjh2k9gpdo2hsq3la9b.apps.googleusercontent.com
            clientSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_MAIL_USERNAME:}
    password: ${GOOGLE_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
app:
  redirectUri: http://localhost:4200/auth
  tokenSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
role:
  firstAdmin: eta.meeting.organizer@gmail.com
mailing:
  mailgun:
    apiKey: ${MAILGUN_API_KEY:}
    mailSenderUrl: "https://api.mailgun.net/v3/sandbox71f5ca0439c64f98af51e1cd1915580a.mailgun.org"
  mailFrom: "Mailgun Sandbox <postmaster@sandbox71f5ca0439c64f98af51e1cd1915580a.mailgun.org>"
  messageTemplate: "Kedves Felhasználónk!
                     \n \nAz admin jóváhagyta kérelmed: mostantól beléphetsz a Wysio Meeting Organizer alkalmazásba.
                     \nTovábbi szép napot kívánunk!
                     \n \n -----
                     \n \nDear User,
                     \n \nOur admins approved your request to enter the site. From now on, you can use the Wysio Meeting Organizer application.
                     \nHave a pleasant day!"
---
spring:
  profiles: travis
  datasource:
    url: jdbc:postgresql://localhost:5432/meetingorganizer
    username: meetingorganizer
    password: KkN7{/uvw}?CKi).hDY8YSM0}YMC3QT
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    hibernate:
      ddl-auto: create-drop
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 160652702041-mvfvg4h4rloclmjh2k9gpdo2hsq3la9b.apps.googleusercontent.com
            clientSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_MAIL_USERNAME:}
    password: ${GOOGLE_MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
mailing:
  mailgun:
    apiKey: ${MAILGUN_API_KEY:}
    mailSenderUrl: "https://api.mailgun.net/v3/sandbox71f5ca0439c64f98af51e1cd1915580a.mailgun.org"
  mailFrom: "Mailgun Sandbox <postmaster@sandbox71f5ca0439c64f98af51e1cd1915580a.mailgun.org>"
  messageTemplate: "Kedves Felhasználónk!
                     \n \nAz admin jóváhagyta kérelmed: mostantól beléphetsz a Wysio Meeting Organizer alkalmazásba.
                     \nTovábbi szép napot kívánunk!
                     \n \n -----
                     \n \nDear User!
                     \n \nOur admins approved your request to enter the site. From now on, you can use the Wysio Meeting Organizer application.
                     \nHave a pleasant day!"
app:
  redirectUri: http://localhost:4200/auth
  tokenSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
role:
  firstAdmin: eta.meeting.organizer@gmail.com