spring:
  profiles:
    - default
    - dev
  datasource:
    url: jdbc:mysql://localhost:3306/meetingorganizer?useUnicode=yes&characterEncoding=UTF-8
    username: meetingorganizer
    password: KkN7{/uvw}?CKi).hDY8YSM0}YMC3QT
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: create-drop
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 160652702041-mvfvg4h4rloclmjh2k9gpdo2hsq3la9b.apps.googleusercontent.com
            clientSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
app:
  redirectUri: http://localhost:4200/auth
  tokenSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
role:
  admins:
    - vajgi90@gmail.com
    - dombimihaly89@gmail.com
    - hpeti1988@gmail.com
    - istvan.dumitras@gmail.com
  readers:
    - vajgely.tamas@gmail.com
---
spring:
  profiles: travis
  datasource:
    url: jdbc:postgresql://localhost:5432/meetingorganizer
    username: meetingorganizer
    password: KkN7{/uvw}?CKi).hDY8YSM0}YMC3QT
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    hibernate:
      ddl-auto: create-drop
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 160652702041-mvfvg4h4rloclmjh2k9gpdo2hsq3la9b.apps.googleusercontent.com
            clientSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
app:
  redirectUri: http://localhost:4200/auth
  tokenSecret: JgxeWFNIeJ4mEIKd8gH5VGw_
role:
  admins:
    - vajgi90@gmail.com
    - dombimihaly89@gmail.com
    - hpeti1988@gmail.com
    - istvan.dumitras@gmail.com
  readers:
    - vajgely.tamas@gmail.com
