spring:
  datasource:
    url: jdbc:mysql://localhost:3306/meetingorganizer
    username: meetingorganizer
    password: 123456
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: create-drop
