spring:
  datasource:
    url: jdbc:mysql://localhost:3306/meetingorganizer?useUnicode=yes&characterEncoding=UTF-8
    username: meetingorganizer
    password: KkN7{/uvw}?CKi).hDY8YSM0}YMC3QT
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: create-drop
